<!-- Barra de navegación -->

<nav>
    <a routerLink="/home" class="logo">

        <img src="imagenes/logo.png" alt="ReceFacil" class="logo-img">
        <span>ReceFacil</span>
    </a>

    <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/receta" routerLinkActive="active">Recetas</a></li>
        <li><a routerLink="/categorias" routerLinkActive="active">Categorías</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>

    <div class="auth" *ngIf="!usuario(); else logueado">
        <a routerLink="/login" class="btn">Iniciar sesión</a>
        <a routerLink="/signup" class="btn">Registro</a>

    </div>

    <ng-template #logueado>
        <div class="usuario-container">
            <span class="usuario">👋 Bienvenido, <strong>{{ usuario().email }}</strong></span>
            <button class="btn cerrar" (click)="cerrarSesion()">Cerrar sesión</button>
        </div>
    </ng-template>


</nav>

<!-- Sección de bienvenida -->
<main>
    <section class="hero-card">
        <div class="hero-text">
            <h1>Bienvenido a ReceFacil</h1>
            <p *ngIf="usuario()">Has iniciado sesión como <strong>{{ usuario().email }}</strong></p>
            <p>Descubre recetas fáciles, rápidas y deliciosas para compartir en familia. ¡Aprender a cocinar nunca fue tan sencillo!</p>
            <div class="hero-buttons">
                <a routerLink="/recetas" class="btn-main">Explorar Recetas</a>
                <a routerLink="/signup" class="btn-sec">Registrarse Gratis</a>
            </div>
        </div>

        <div class="hero-img">
            <img src="imagenes/cocina.png" alt="Cocinero feliz">
        </div>
    </section>

    <section class="destacados">
        <h2>Recetas Destacadas</h2>
        <div class="cards">
            <div class="card">
                <h3>Pasta Italiana</h3>
                <img src="imagenes/pasta.jpeg" alt="Pasta italiana">
                <p>Una receta sencilla y deliciosa con ingredientes frescos.</p>
            </div>
            <div class="card">
                <h3>Ensalada Fresca</h3>
                <img src="imagenes/ENSALA.jpeg" alt="Ensalada fresca">
                <p>Llena de color, nutrientes y sabor para tu día.</p>
            </div>
            <div class="card">
                <h3>Postre de Chocolate</h3>
                <img src="imagenes/post.png" alt="Postre de chocolate">
                <p>Un toque dulce que no puede faltar en tu mesa.</p>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 ReceFacil. Todos los derechos reservados.</p>
    <p>Contacto: <a href="mailto:recefacil@gmail.com">recefacil&#64;gmail.com</a> | Tel: +57 3107164163</p>
    <div class="social">
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">YouTube</a>
    </div>
</footer>